#!/bin/bash
echo "Validating git config"

USERNAME="$1"
if [ -z "${USERNAME}" ]
then
    echo "ERROR: Missing username."
    exit 1
fi

EMAIL="$1"
if [ -z "${EMAIL}" ]
then
    echo "ERROR: Missing email."
    exit 1
fi

# Git name.
git config user.name "${USERNAME}"
if [ $? != 0 ]
then
    echo "ERROR: Failed to set credentials name."
    exit 1892
fi

# Git email.
git config user.email "${EMAIL}"
if [ $? != 0 ]
then
    echo "ERROR: Failed to set credentials email."
    exit 1892
fi

# Cache credentials.
git config --global credential.helper 'cache --timeout 36000'
if [ $? != 0 ]
then
    echo "ERROR: Failed to set credentials cache."
    exit 1892
fi
